.ngx-pagination {
   
    margin-top: 34%;
}

.imgnotfound{
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    font-weight: 500;
}

.image{
    text-align: center;
    padding-top: 1%;
    font-size: 30px;
    font-weight: 500; 
}